* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiFormHelperText-root {
  margin-left: 0 !important;
}

.css-color:hover {
  transition: transform 0.35s ease;
  transform: translateY(-2px);
  border: 1px solid #888;
}

.css-color-active {
  transform: translateY(-2px);
  border: 1px solid #888;
}
